#clubs-A.uncovered:after {
  background-image: url("../img/big/clubs/clubs-A.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#clubs-2.uncovered:after {
  background-image: url("../img/big/clubs/clubs-2.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#clubs-3.uncovered:after {
  background-image: url("../img/big/clubs/clubs-3.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#clubs-4.uncovered:after {
  background-image: url("../img/big/clubs/clubs-4.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#clubs-5.uncovered:after {
  background-image: url("../img/big/clubs/clubs-5.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#clubs-6.uncovered:after {
  background-image: url("../img/big/clubs/clubs-6.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#clubs-7.uncovered:after {
  background-image: url("../img/big/clubs/clubs-7.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#clubs-8.uncovered:after {
  background-image: url("../img/big/clubs/clubs-8.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#clubs-9.uncovered:after {
  background-image: url("../img/big/clubs/clubs-9.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#clubs-10.uncovered:after {
  background-image: url("../img/big/clubs/clubs-10.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#clubs-J.uncovered:after {
  background-image: url("../img/big/clubs/clubs-J.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#clubs-Q.uncovered:after {
  background-image: url("../img/big/clubs/clubs-Q.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#clubs-K.uncovered:after {
  background-image: url("../img/big/clubs/clubs-K.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#spades-A.uncovered:after {
  background-image: url("../img/big/spades/spades-A.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#spades-2.uncovered:after {
  background-image: url("../img/big/spades/spades-2.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#spades-3.uncovered:after {
  background-image: url("../img/big/spades/spades-3.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#spades-4.uncovered:after {
  background-image: url("../img/big/spades/spades-4.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#spades-5.uncovered:after {
  background-image: url("../img/big/spades/spades-5.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#spades-6.uncovered:after {
  background-image: url("../img/big/spades/spades-6.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#spades-7.uncovered:after {
  background-image: url("../img/big/spades/spades-7.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#spades-8.uncovered:after {
  background-image: url("../img/big/spades/spades-8.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#spades-9.uncovered:after {
  background-image: url("../img/big/spades/spades-9.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#spades-10.uncovered:after {
  background-image: url("../img/big/spades/spades-10.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#spades-J.uncovered:after {
  background-image: url("../img/big/spades/spades-J.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#spades-Q.uncovered:after {
  background-image: url("../img/big/spades/spades-Q.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#spades-K.uncovered:after {
  background-image: url("../img/big/spades/spades-K.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#hearts-A.uncovered:after {
  background-image: url("../img/big/hearts/hearts-A.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#hearts-2.uncovered:after {
  background-image: url("../img/big/hearts/hearts-2.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#hearts-3.uncovered:after {
  background-image: url("../img/big/hearts/hearts-3.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#hearts-4.uncovered:after {
  background-image: url("../img/big/hearts/hearts-4.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#hearts-5.uncovered:after {
  background-image: url("../img/big/hearts/hearts-5.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#hearts-6.uncovered:after {
  background-image: url("../img/big/hearts/hearts-6.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#hearts-7.uncovered:after {
  background-image: url("../img/big/hearts/hearts-7.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#hearts-8.uncovered:after {
  background-image: url("../img/big/hearts/hearts-8.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#hearts-9.uncovered:after {
  background-image: url("../img/big/hearts/hearts-9.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#hearts-10.uncovered:after {
  background-image: url("../img/big/hearts/hearts-10.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#hearts-J.uncovered:after {
  background-image: url("../img/big/hearts/hearts-J.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#hearts-Q.uncovered:after {
  background-image: url("../img/big/hearts/hearts-Q.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#hearts-K.uncovered:after {
  background-image: url("../img/big/hearts/hearts-K.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#tiles-A.uncovered:after {
  background-image: url("../img/big/tiles/tiles-A.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#tiles-2.uncovered:after {
  background-image: url("../img/big/tiles/tiles-2.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#tiles-3.uncovered:after {
  background-image: url("../img/big/tiles/tiles-3.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#tiles-4.uncovered:after {
  background-image: url("../img/big/tiles/tiles-4.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#tiles-5.uncovered:after {
  background-image: url("../img/big/tiles/tiles-5.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#tiles-6.uncovered:after {
  background-image: url("../img/big/tiles/tiles-6.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#tiles-7.uncovered:after {
  background-image: url("../img/big/tiles/tiles-7.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#tiles-8.uncovered:after {
  background-image: url("../img/big/tiles/tiles-8.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#tiles-9.uncovered:after {
  background-image: url("../img/big/tiles/tiles-9.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#tiles-10.uncovered:after {
  background-image: url("../img/big/tiles/tiles-10.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#tiles-J.uncovered:after {
  background-image: url("../img/big/tiles/tiles-J.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#tiles-Q.uncovered:after {
  background-image: url("../img/big/tiles/tiles-Q.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

#tiles-K.uncovered:after {
  background-image: url("../img/big/tiles/tiles-K.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

.card {
  background-image: url("../img/big/back.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent; }

@media only screen and (max-width: 768px) {
  #clubs-A.uncovered:after {
    background-image: url("../img/small/clubs/clubs-A.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #clubs-2.uncovered:after {
    background-image: url("../img/small/clubs/clubs-2.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #clubs-3.uncovered:after {
    background-image: url("../img/small/clubs/clubs-3.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #clubs-4.uncovered:after {
    background-image: url("../img/small/clubs/clubs-4.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #clubs-5.uncovered:after {
    background-image: url("../img/small/clubs/clubs-5.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #clubs-6.uncovered:after {
    background-image: url("../img/small/clubs/clubs-6.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #clubs-7.uncovered:after {
    background-image: url("../img/small/clubs/clubs-7.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #clubs-8.uncovered:after {
    background-image: url("../img/small/clubs/clubs-8.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #clubs-9.uncovered:after {
    background-image: url("../img/small/clubs/clubs-9.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #clubs-10.uncovered:after {
    background-image: url("../img/small/clubs/clubs-10.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #clubs-J.uncovered:after {
    background-image: url("../img/small/clubs/clubs-J.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #clubs-Q.uncovered:after {
    background-image: url("../img/small/clubs/clubs-Q.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #clubs-K.uncovered:after {
    background-image: url("../img/small/clubs/clubs-K.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #spades-A.uncovered:after {
    background-image: url("../img/small/spades/spades-A.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #spades-2.uncovered:after {
    background-image: url("../img/small/spades/spades-2.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #spades-3.uncovered:after {
    background-image: url("../img/small/spades/spades-3.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #spades-4.uncovered:after {
    background-image: url("../img/small/spades/spades-4.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #spades-5.uncovered:after {
    background-image: url("../img/small/spades/spades-5.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #spades-6.uncovered:after {
    background-image: url("../img/small/spades/spades-6.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #spades-7.uncovered:after {
    background-image: url("../img/small/spades/spades-7.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #spades-8.uncovered:after {
    background-image: url("../img/small/spades/spades-8.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #spades-9.uncovered:after {
    background-image: url("../img/small/spades/spades-9.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #spades-10.uncovered:after {
    background-image: url("../img/small/spades/spades-10.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #spades-J.uncovered:after {
    background-image: url("../img/small/spades/spades-J.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #spades-Q.uncovered:after {
    background-image: url("../img/small/spades/spades-Q.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #spades-K.uncovered:after {
    background-image: url("../img/small/spades/spades-K.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #hearts-A.uncovered:after {
    background-image: url("../img/small/hearts/hearts-A.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #hearts-2.uncovered:after {
    background-image: url("../img/small/hearts/hearts-2.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #hearts-3.uncovered:after {
    background-image: url("../img/small/hearts/hearts-3.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #hearts-4.uncovered:after {
    background-image: url("../img/small/hearts/hearts-4.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #hearts-5.uncovered:after {
    background-image: url("../img/small/hearts/hearts-5.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #hearts-6.uncovered:after {
    background-image: url("../img/small/hearts/hearts-6.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #hearts-7.uncovered:after {
    background-image: url("../img/small/hearts/hearts-7.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #hearts-8.uncovered:after {
    background-image: url("../img/small/hearts/hearts-8.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #hearts-9.uncovered:after {
    background-image: url("../img/small/hearts/hearts-9.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #hearts-10.uncovered:after {
    background-image: url("../img/small/hearts/hearts-10.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #hearts-J.uncovered:after {
    background-image: url("../img/small/hearts/hearts-J.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #hearts-Q.uncovered:after {
    background-image: url("../img/small/hearts/hearts-Q.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #hearts-K.uncovered:after {
    background-image: url("../img/small/hearts/hearts-K.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #tiles-A.uncovered:after {
    background-image: url("../img/small/tiles/tiles-A.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #tiles-2.uncovered:after {
    background-image: url("../img/small/tiles/tiles-2.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #tiles-3.uncovered:after {
    background-image: url("../img/small/tiles/tiles-3.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #tiles-4.uncovered:after {
    background-image: url("../img/small/tiles/tiles-4.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #tiles-5.uncovered:after {
    background-image: url("../img/small/tiles/tiles-5.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #tiles-6.uncovered:after {
    background-image: url("../img/small/tiles/tiles-6.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #tiles-7.uncovered:after {
    background-image: url("../img/small/tiles/tiles-7.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #tiles-8.uncovered:after {
    background-image: url("../img/small/tiles/tiles-8.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #tiles-9.uncovered:after {
    background-image: url("../img/small/tiles/tiles-9.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #tiles-10.uncovered:after {
    background-image: url("../img/small/tiles/tiles-10.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #tiles-J.uncovered:after {
    background-image: url("../img/small/tiles/tiles-J.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #tiles-Q.uncovered:after {
    background-image: url("../img/small/tiles/tiles-Q.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  #tiles-K.uncovered:after {
    background-image: url("../img/small/tiles/tiles-K.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; }

  .card {
    background-image: url("../img/small/back.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent; } }

/*# sourceMappingURL=cards.css.map */
