//SASS

$colors_list: "clubs", "spades", "tiles", "hearts";
$hearts: "\f104";
$clubs: "\f100";
$spades: "\f102";
$tiles: "\f101";
$blacks: #000000;
$reds: #FF0000;

@function getColor($color) {
  @if ($color == 'spades') {
	@return $spades;
  } @else if ($color == 'clubs') {
	@return $clubs;
  } @else if ($color == 'hearts') {
	@return $hearts;
  } @else if ($color == 'tiles') {
	@return $tiles;
  }
}

@mixin fullCard() {
  left: 0;
  min: {
	height: 100%;
	width: 100%;
  }
  position: absolute;
  top: 0;
}

@mixin rotate($deg) {
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  transform: rotate($deg);
}

/* ==== GLOBAL ==== */

* {
  border: 1px solid #fff;
  box-sizing: border-box;
}

body {
  background-color: #006400;
  min-height: 100vh;
  padding: 10px;
}

/* ==== CARDS ==== */

.card {
  background-color: #fff;
  border: 1px solid #000;
  display: inline-block;
  font-size: 12px;
  left: 0;
  min-height: 100px;
  min-width: 75px;
  max-height: 100px;
  max-width: 75px;
  position: absolute;
  top: 0;
  overflow: visible;

  &::before,
  &::after {
	@include fullCard;
	content: attr(data-figure);
	padding-left: 4%;
  }

  &::after,
  &__fig::after {
	@include rotate(180deg);
  }

  &__fig,
  &__interior {
	@include fullCard;
  }
  &__fig::before,
  &__fig::after {
	@include fullCard;
	color: inherit;
	content: "";
	font-family: "Flaticon", fantasy;
	padding: {
	  top: 17%;
	  left: 2%;
	}
  }

  &__interior {

	&::before {
	  @include fullCard;
	  font: {
		family: "Flaticon", fantasy;
		size: 36px;
	  }
	  padding-top: 30%;
	  text-align: center;
	}
  }

  @each $color in $colors_list {
	&--#{$color} {
	  .card__fig::before,
	  .card__fig::after,
	  .card__interior::before {
		content: getColor(#{$color});
	  }
	}
  }

  &--spades,
  &--clubs {
	color: $blacks;
  }

  &--tiles,
  &--hearts {
	color: $reds;
  }
}


