$cardW: 94px;
$cardH: 130px;

* {
  //border: 1px solid #fff;
  box-sizing: border-box;
}

body {
  background-color: #006400;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: $cardW;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

li {
  margin-top: -$cardW;
}

.board__top {
  min-height: 30vh;
}

.board__bottom {
  min-height: 70vh;
}

.col-pile-1 {
  min-width: 80px;
}

.col-pile-4 {
  min-width: 320px;
}

.col-pile-offset-1 {
  margin-left: 80px;
}

.box {
  min-height: $cardH;
  position: relative;
}

.pile {
  border: 1px dotted #fff;
  //background-color: #000;
  display: inline-block;
  float: left;
  position: relative;
  height: 100%;
  min-height: $cardH;
  width: $cardW;
  background-color: #339933;
  margin: 5px;
}

.deck {
  position: relative;

  ul {
	top: 0px;
	li {
	  margin-top: 0px;
	  position: absolute;
	}
  }

  li {
	position: absolute;
	top: 0;
	left: 0;
  }
}

.card {
  width: $cardW;
  height: $cardH;
  display: block;
  background-color: #ff0000;
  position: relative;
  border: 1px solid #000;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;

  &.uncovered:after {
    content: '';
	//border: 1px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
	background: #fff;
	padding: 10px 0;
  }
}

.board {
  &__top,
  &__bottom {
	margin: 0 auto;
	display: block;
  }
}