$cardW: 7.2vw;//94px;
$cardH: 10vw; //130px;
$tight: $cardW + (($cardH - $cardW) / 2);

@mixin border-radius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}

* {
  //border: 1px solid #fff;
  box-sizing: border-box;
}

body {
  background-color: #006400;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  padding-left: 0;
  position: absolute;
  padding-top: $cardW;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  &.tight {
	padding-top: $tight;
  }
}

.board {
  position: relative;


  &__top {
	min-height: 30vh;
  }

  &__bottom {
	min-height: 60vh;
  }
}

.col-pile-1 {
  min-width: $cardW;
}

.col-pile-4 {
  min-width: $cardW * 4;
}

.col-pile-offset-1 {
  margin-left: $cardW;
}

.box {
  min-height: $cardH;
  position: relative;
}

.pile {
  border: 1px dotted #fff;
  display: inline-block;
  float: none;
  position: relative;
  height: 100%;
  min-height: $cardH;
  width: $cardW;
  background-color: #339933;
  margin: 1vw;

  &.stash {
	position: relative;

	.card {
		margin-top: 0px;
		position: absolute;
		top: 0;
		left: 0;
	  }

  }
}

.card {
  @include border-radius(7px);
  width: $cardW;
  height: $cardH;
  display: block;
  background-color: #ff0000;
  position: relative;
  border: 1px solid #000;
  margin-top: -$cardW;

  .tight & {
	margin-top: -$tight;
  }

  &.uncovered:after {
	@include border-radius(5px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
	background: #fff;

  }
}

.stash {

}

.board {
  &__top,
  &__bottom {
	margin: 0 auto;
	display: block;
  }
}

#js-revert {
  min-width: 7vw;
  max-height: 3vw;
  position: absolute;
  font-size: 1vw;
  line-height: 2vw;
  padding: 0;
  top: 0;
  left: 0;
}

#js-new-game {
  min-width: 7vw;
  max-height: 3vw;
  position: absolute;
  font-size: 1vw;
  line-height: 2vw;
  padding: 0;
  top: 2vw;
  left: 0;
}